<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!-- a doksi küldő szerver portja -->
    <add key="Port" value="33477"/>
    
    <!-- a \- jelet kell a végére tenni! -->
    <add key="ResourcesPath" value="Resources\"/>
    
    <!-- a cikkek elérési útja -->
    <add key="CikkekPath" value="pdfek.csv"/>
    
    <!-- luxscan file elérési útja -->
    <!-- ha üres akkor az a exe fájl helyét jelenti -->
    <add key="LuxscanFolderPath" value=""/>
    
    <!-- Az érték másodpercben értetendő -->
    <add key="MakeLuxscanUpdateRate" value="10"/>
    
    <!-- PsExec helye -->
    <add key="PsExecLocation" value=""/>
    
    <!-- Az elérhetőség vizsgálásának az időintervalluma (másodperc), ha egy gép nincs felcsatlakozva a szerverre -->
    <!-- De a gép elérhető, akkor küld rá egy frissítést, ha pedig el sem érhető, akkor azt logolja -->
    <!-- Ha 0 akkor ki van kapcsolva -->
    <add key="PcCheckIntervall" value="0"/>

    <!-- A hálózat kímélési szintet állítja be, eddig 2 szint van -->
    <!-- A nagyobb szint örökli az előtte lévő szintek tulajdonságait pl: -->
    <!-- A 2. szinten az 1. szint funkcióit is megkapja, a 3. szinten a 2. és az 1. szint funkciói is jönnek és így tovább -->
    <!-- A 0. szint a kikapcsolást jelőli, ez azt jelenti, hogy a hálózati forgalom maximummal fut, és a program a leghatékonyabb -->
    <!-- Az 10. szinten a hálózat kímélési alogritmus azt állítja be, hogy csak akkor küldi ki a PDFeket, ha változik az ORD fájl -->
    <!-- Ha bezárodnak az egyik gépen a PDFek a következő frissítésnél nem fognak újra megnyílni -->
    <!-- A 100. szinten a kliens nem vizsgálja, hogy még elérhető-e, ha nem akkor csak a következő ORD fájl változásnál fogja lecsatlakoztatni -->
    <add key="NetworkSpareLevel" value="0"/>

    <!-- A kliensek elérhetőségének vizsgálatai közben eltelt időt jelőli, a minimum 500 ez az érték ezeredmásodpercben(millisecoundumban) értetendő -->
    <!-- Minnél magasabb az érték annál lassabban csatlakoztatja le a klienst, ha nem elérhető, viszont análl kisebb a hálózati terhelés -->
    <!-- A NetworkSpareLevel 20. szintjétől, ez ki is van kapcsolva -->
    <add key="OnlineActivityCheckRate" value="500"/>
    
    <!-- A maximum kliensek számát adja meg -->
    <add key="MaxClientCount" value="10"/>

    <add key="ActiveMark" value="F"/>  

  </appSettings>
</configuration>
