<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!-- Az adobe elérési útja -->
    <add key="PDFReaderLoc" value="C:\Program Files (x86)\Adobe\Acrobat Reader DC\Reader\AcroRd32.exe"/>
    <!-- Egy adobe elindítása után mennyit várjon -->
    <!-- hogy a reader módot beállítsa illetve -->
    <!-- jó helyre prociziónálja -->
    <add key="WaitingTime" value="10"/>
    <add key="PDFResourcesPath" value="K:\programs\DocShow\Resources\"/>
    <!-- a pdfek zoomscaleje -->
    <add key="ZoomScale" value="75"/>
    <!-- A doksi kiszolgáló szerver ipje és portja, ahol csak a doksik illetve -->
    <!-- illetve az azokhoz tartozó parancsok jönnek -->
    <add key="ServerPort" value="43213"/>
    <add key="ServerIP" value="192.168.1.21"/>
    <!-- Ha yes akkor eltűnteti a konzolt, ha bármi más akkor nem -->
    <add key="HideConsole" value="no"/>
  </appSettings>
</configuration>